


.widget {
  position: fixed;
  bottom: 0;
  right: 20px;
  border: 1px solid #f5f5f5;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  width: 35vw;
  &.full-screen {
    .widget__statistic {
      &::before {
        visibility: visible;
        transform: rotate(360deg);
      }
    }
  }


  &__message-container {
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: auto;
    transition: all .3s ease-in-out;

    &.all-actives {
      height: 40vh;
    }

  }

  &__message {
    background-color: #ffffff;
    position: relative;
    border-bottom: 1px solid rgba(167,216,255,1);
    padding: 20px;
    transition: all .3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-weight: normal;
    &.new-msg {
      //background-color: #c0c0c0;
      font-weight: bold;



      &::before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: #000;
        border-radius: 50%;
      }

    }

    &:hover {
      background-color: #d0d0d0;
    }
  }

  &__message-author {
    flex: 0 0 28%;
    margin-right: 10px;
  }
  &__message-title {
    flex: 0 0 30%;
  }
  &__message-link {
    flex: 0 0 30%;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
  &__message-data-time {
    opacity: .7;
    font-weight: normal;
    font-size: 12px;
    flex: 0 0 10%;
  }


  &__statistic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #005FF9;
    font-size: 1.4em;
    color: white;
    position: relative;
    height: 2em;
    padding: 3px 7px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;

    &::before {
      transition: all .3s ease-in-out .1s;
      position: absolute;
      transform: rotate(-180deg);
      content: '↓';
      right: 20px;
    }

  }

  &__statistic-container {
    display: flex;
    align-items: center;

    img {
      margin-right: 15px;
    }
  }
}

